.container {
  border-radius: 15px;
  font-weight: 300;
  font-size: 13px;
  padding: 3px 6px;
}

.fill {
  background: #4CB49C;
  color: #FFFFFF;
  border: none;
}

.stroke {
  background: transparent;
  color: #4CB49C;
  border: 0.7px solid #4CB49C;
}
